<section id="about-us" class="about-us-section">
  <div class="container">
    <h2 class="section-title">Про нас</h2>
    <p class="about-us-description">
      У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
      приносять радість та задоволення. Наша місія — пропонувати високоякісні
      десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
      естетичний вигляд.
    </p>
    <div class="swiper contact-us-gallery">
      <ul class="contact-us-gallery-list swiper-wrapper">
        <li class="swiper-slide">
          <img
            src="/img/about-us/image-2.jpg"
            srcset="
              /img/about-us/image-2.jpg    1x,
              /img/about-us/image-2@2x.jpg 2x
            "
            alt="Кондитер готує еклери"
            width="644"
            height="478"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="/img/about-us/image-3.jpg"
            srcset="
              /img/about-us/image-3.jpg    1x,
              /img/about-us/image-3@2x.jpg 2x
            "
            alt="Персонал вибирає десерт з меню"
            width="644"
            height="478"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="/img/about-us/image-4.jpg"
            srcset="
              /img/about-us/image-4.jpg    1x,
              /img/about-us/image-4@2x.jpg 2x
            "
            alt="Вітрина з тістечками та десертами"
            width="644"
            height="478"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="/img/about-us/image-1.jpg"
            srcset="
              /img/about-us/image-1.jpg    1x,
              /img/about-us/image-1@2x.jpg 2x
            "
            alt="Усміхнений гість смакує десерт"
            width="644"
            height="478"
          />
        </li>
      </ul>
      <button class="about-us-slide-btn button-prev">
        <svg height="24" width="24">
          <use href="/img/sprite.svg#icon-arrow_back"></use>
        </svg>
      </button>
      <button class="about-us-slide-btn button-next">
        <svg height="24" width="24">
          <use href="/img/sprite.svg#icon-arrow_forward"></use>
        </svg>
      </button>
      <div class="about-us-pagination"></div>
    </div>
  </div>
</section>
