<div class="overlay-details">
    <div class="modal">
        <button type="button" class="modal-details-close" aria-label="Close modal">
            <svg class="modal-icon-close" width="24" height="24">
                <use href="./img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-info">
            <div class="modal-img-thumb">
                <!-- Тимчасова заглушка для картинки -->
                <img class="modal-img" src="" alt="Десерт" />
            </div>
            <div class="modal-content-wrapper">
                <h3 class="modal-details-title">Назва десерту</h3>
                <p class="modal-price">0 грн</p>

                <div class="modal-rating">★★★★★</div>

                <p class="modal-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus error hic delectus neque vitae quod
                    pariatur soluta cum id excepturi reprehenderit sapiente dolorem aut assumenda amet, corporis
                    nostrum, impedit repellendus rem quaerat accusantium ipsum, adipisci veritatis deleniti? Ducimus
                    atque dolorum reiciendis, consequuntur similique accusamus facilis aut dicta quasi placeat, corrupti
                    velit sunt explicabo, aspernatur nisi facere laborum. Reprehenderit sed, debitis quo est delectus
                    voluptatum? Debitis doloribus, in blanditiis architecto placeat et repellendus hic culpa nemo fugit
                    voluptatum amet commodi officiis minus dolores, reiciendis reprehenderit libero voluptates id eaque
                    saepe optio quis suscipit. Dicta, eveniet. Nulla ducimus consectetur molestiae, tempore vitae
                    numquam incidunt quis facere, quisquam quas dolor modi voluptatum nam dolorum quibusdam consequuntur
                    officiis dignissimos minus ab! Sit autem excepturi minus unde consectetur sapiente dolor,
                    necessitatibus minima culpa dolorem eos accusamus. Saepe aperiam labore placeat, necessitatibus
                    ipsum velit voluptatem explicabo repudiandae expedita possimus tempora natus quasi consectetur quia
                    cum odit!
                </p>

                <p class="modal-ingredients">
                    <strong>Склад:</strong> Інгредієнти десерту.
                </p>
                <div class="modal-sub-btn">
                    <button type="button" class="to-order-btn js-open-order-btn">
                        Перейти до замовлення
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>