<section id="feedbacks" class="feedback-section">
  <div class="container">
    <h2 class="feedback-h">Відгуки клієнтів</h2>
    <p class="feedback-p">Найкращі десерти, які я коли-небудь куштував!</p>

    <div class="swiper feedback-swiper">
      <div class="feedback-loader">
        <div class="spinner"></div>
        <p>Завантаження відгуків...</p>
      </div>

      <ul class="swiper-wrapper" id="feedbacks-container"></ul>

      <button type="button" class="feedback-slide-btn button-prev">
        <svg height="24" width="24">
          <use href="/img/sprite.svg#icon-arrow_back"></use>
        </svg>
      </button>
      <button type="button" class="feedback-slide-btn button-next">
        <svg height="24" width="24">
          <use href="/img/sprite.svg#icon-arrow_forward"></use>
        </svg>
      </button>
      <div class="feedback-pagination"></div>
    </div>
  </div>
</section>
