<header class="header">
  <div class="container header-container">
    <!-- LOGO + NAME -->
    <a href="./index.html" class="logo">
      <img src="/img/company-logo.svg" alt="Sweet Workshop logo" />
    </a>

    <!-- NAVIGATION -->
    <div class="nav-column" id="navMenu">
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="#desserts" class="nav-link">Солодощі</a></li>
          <li><a href="#about-us" class="nav-link">Про нас</a></li>
          <li><a href="#feedbacks" class="nav-link">Відгуки</a></li>
          <li><a href="#faq" class="nav-link">Часті питання</a></li>
        </ul>
      </nav>

      <!-- BUTTON -->
      <a href="#desserts" class="header-btn">До покупок</a>
    </div>

    <!-- BURGER MENU -->
    <button type="button" class="menu-btn" id="burgerBtn" aria-label="Open menu" aria-expanded="false"
      aria-controls="mobileMenu">
      <svg class="icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>