<section class="popular-products-section is-hidden">
  <div class="container">
    <h2 class="section-title popular-products-title">Наші бестселлери</h2>
    <div class="popular-products-loader js-popular-products-loader" aria-live="polite" hidden>
      <span class="loader"></span>
    </div>
    <div class="popular-products-swiper swiper">
      <ul class="popular-products-list swiper-wrapper"></ul>
    </div>
    <div class="popular-slider-bottom">
      <div class="popular-products-pagination swiper-pagination"></div>
      <div class="popular-controls">
        <button class="popular-btn popular-btn-prev" type="button" aria-label="Попередній слайд">
          <svg class="popular-svg-prev" width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow_back"></use>
          </svg>
        </button>
        <button class="popular-btn popular-btn-next" type="button" aria-label="Наступний слайд">
          <svg class="popular-svg-next" width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
